.site-layout {
  height: calc(100vh - 64px);
}
.sider-content {
  background-color: #fff;
  width: 71px;
  border-right: 1px solid #ebedf2;
}
.set-canvas-size {
  .ant-modal-header {
    text-align: center;
  }
  .set-canvas-size-button {
    text-align: center;
  }
}
